flows.json
[{"id":"d9318ffb.7e096","type":"tab","label":"Lab_6","disabled":false,"info":""},{"id":"ac028492.f00df8","type":"ui_dropdown","z":"d9318ffb.7e096","name":"","label":"Select State:","tooltip":"","place":"State","group":"aa3614f9.42bc18","order":2,"width":"8","height":"1","passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":550,"y":80,"wires":[["7597ebcc.5b15a4"]]},{"id":"7597ebcc.5b15a4","type":"switch","z":"d9318ffb.7e096","name":"Selection","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":80,"wires":[["c88a8b53.1c4c38"]]},{"id":"31ec03d1.c014ac","type":"http request","z":"d9318ffb.7e096","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":180,"wires":[["4451484d.7c6988"]]},{"id":"734c966e.fb6be8","type":"change","z":"d9318ffb.7e096","name":"Load States","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":348,"y":80.4000015258789,"wires":[["ac028492.f00df8"]]},{"id":"12b446a1.173059","type":"inject","z":"d9318ffb.7e096","name":"Load Table of States","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[{\"Andaman and Nicobar Islands\":\"1\"},{\"Andhra Pradesh\":\"2\"},{\"Arunachal Pradesh\":\"3\"},{\"Assam\":\"4\"},{\"Bihar\":\"5\"},{\"Chandigarh\":\"6\"},{\"Chhattisgarh\":\"7\"},{\"Dadra and Nagar Haveli\":\"8\"},{\"Daman and Diu\":\"37\"},{\"Delhi\":\"9\"},{\"Goa\":\"10\"},{\"Gujarat\":\"11\"},{\"Haryana\":\"12\"},{\"Himachal Pradesh\":\"13\"},{\"Jammu and Kashmir\":\"14\"},{\"Jharkhand\":\"15\"},{\"Karnataka\":\"16\"},{\"Kerala\":\"17\"},{\"Ladakh\":\"18\"},{\"Lakshadweep\":\"19\"},{\"Madhya Pradesh\":\"20\"},{\"Maharashtra\":\"21\"},{\"Manipur\":\"22\"},{\"Meghalaya\":\"23\"},{\"Mizoram\":\"24\"},{\"Nagaland\":\"25\"},{\"Odisha\":\"26\"},{\"Puducherry\":\"27\"},{\"Punjab\":\"28\"},{\"Rajasthan\":\"29\"},{\"Sikkim\":\"30\"},{\"Tamil Nadu\":\"31\"},{\"Telangana\":\"32\"},{\"Tripura\":\"33\"},{\"Uttar Pradesh\":\"34\"},{\"Uttarakhand\":\"35\"},{\"West Bengal\":\"36\"}]","payloadType":"json","x":140,"y":80,"wires":[["734c966e.fb6be8"]]},{"id":"c88a8b53.1c4c38","type":"function","z":"d9318ffb.7e096","name":"District API","func":"msg.payload=\"https://cdn-api.co-vin.in/api/v2/admin/location/districts/\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":180,"wires":[["6c119f6c.f26dc"]]},{"id":"6c119f6c.f26dc","type":"change","z":"d9318ffb.7e096","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":180,"wires":[["31ec03d1.c014ac"]]},{"id":"e20bb56.69d9b48","type":"ui_dropdown","z":"d9318ffb.7e096","name":"","label":"Select District:","tooltip":"","place":"District","group":"aa3614f9.42bc18","order":2,"width":"8","height":"1","passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":360,"y":260,"wires":[["33afdd5c.928fc2"]]},{"id":"4451484d.7c6988","type":"function","z":"d9318ffb.7e096","name":"","func":"var i;\nvar q={};\nvar s={};\nvar x=[];\nvar z=[];\nvar b;\nfor (i in msg.payload.districts){\n    var p=msg.payload.districts[i];\n    q=p.district_name;\n    s=p.district_id;\n    b = x.push(s);\n    b = z.push(q);\n    \n}\n\nvar result=[];\nvar obj1={};\nfor (i = 0; i < z.length; i++) {\n   obj1={[z[i]] : x[i]}\n   b=result.push(obj1)\n   \n}\nmsg.payload=result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":180,"wires":[["f6585378.5cb24"]]},{"id":"f6585378.5cb24","type":"change","z":"d9318ffb.7e096","name":"Load Districts","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":260,"wires":[["e20bb56.69d9b48"]]},{"id":"24b2132e.51f02c","type":"function","z":"d9318ffb.7e096","name":"Vaccine Center API","func":"msg.payload=\"https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/findByDistrict?district_id=\"+msg.payload+\"&date=\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":260,"wires":[["f1d204e9.3a2798"]]},{"id":"63603563.b0d85c","type":"http request","z":"d9318ffb.7e096","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":380,"wires":[["a020b024.8ec95","3a628511.6b286a"]]},{"id":"3e6c3da3.715192","type":"change","z":"d9318ffb.7e096","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":380,"wires":[["63603563.b0d85c"]]},{"id":"a020b024.8ec95","type":"function","z":"d9318ffb.7e096","name":"","func":"var i;\nvar q={}, r={}, s={}, t={}, u={}, v={}, d={};\nvar w=[], x=[], y=[], a=[], c=[], z=[], e=[];\nvar b;\nfor (i in msg.payload.sessions){\n    var p=msg.payload.sessions[i];\n    q=p.name;\n    r=p.available_capacity;\n    s=p.vaccine;\n    t=p.min_age_limit;\n    u=p.fee;\n    v=p.address;\n    d=p.slots;\n    b = w.push(r);\n    b = x.push(s);\n    b = y.push(t);\n    b = a.push(u);\n    b = c.push(v);\n    b = e.push(d);\n    b = z.push(q);\n    \n}\n\nvar result=[];\nvar obj1={};\nfor (i = 0; i < z.length; i++) {\n   obj1={[z[i]] : [w[i],x[i],y[i],a[i],c[i],e[i]]}\n   b=result.push(obj1)\n   \n}\nmsg.payload=result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":380,"wires":[["996b7ea0.4c353"]]},{"id":"33afdd5c.928fc2","type":"switch","z":"d9318ffb.7e096","name":"Selection","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":260,"wires":[["24b2132e.51f02c"]]},{"id":"996b7ea0.4c353","type":"change","z":"d9318ffb.7e096","name":"Load Centers","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":380,"wires":[["e620c535.1519c8"]]},{"id":"e620c535.1519c8","type":"ui_dropdown","z":"d9318ffb.7e096","name":"","label":"Select Vaccination Center to check Availability:","tooltip":"","place":"Vaccine Center","group":"aa3614f9.42bc18","order":2,"width":"8","height":"1","passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":640,"y":480,"wires":[["5410dc57.629fe4","78de1e19.67618","ba2328b.9ebacd8","bba3933a.24685","9ea83fe8.1d31a","e10ecf88.29d51","82cdd684.340ec8"]]},{"id":"5410dc57.629fe4","type":"ui_text","z":"d9318ffb.7e096","group":"aa3614f9.42bc18","order":1,"width":0,"height":0,"name":"Available Vaccines","label":"Available Vaccines: ","format":"{{msg.payload[0]}}","layout":"row-center","x":1010,"y":600,"wires":[]},{"id":"3a628511.6b286a","type":"function","z":"d9318ffb.7e096","name":"Build Table","func":"var TableArray = [];\nfor( i=0; i < msg.payload.sessions.length; i++ ) {\n      var TableEntry = {};\n      TableEntry.name = msg.payload.sessions[i].name ;\n      TableEntry.available = msg.payload.sessions[i].available_capacity ;\n      TableEntry.pincode = msg.payload.sessions[i].pincode ;\n      TableArray.push( TableEntry );\n}\n\nmsg.payload = TableArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":600,"wires":[["bf253fa2.ef7e6"]]},{"id":"bf253fa2.ef7e6","type":"ui_table","z":"d9318ffb.7e096","group":"c6449906.9b7d98","name":"COVID Vaccine Data","order":1,"width":"12","height":"6","columns":[{"field":"name","title":"Center","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"available","title":"Available Vaccines","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"pincode","title":"Pincode","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":760,"y":620,"wires":[]},{"id":"f1d204e9.3a2798","type":"function","z":"d9318ffb.7e096","name":"Date","func":"var dateNow = new Date(); \nvar DateAsString=dateNow.toLocaleDateString(); \nvar i,new1=\"\";\nfor (i=0 ;i< DateAsString.length;i++){\n    if(DateAsString[i]!=\"/\"){\n        new1+=DateAsString[i]\n    }\n    else{\n        new1+=\"-\"\n    }\n}\nmsg.payload= msg.payload+new1;\nreturn msg; \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":260,"wires":[["3e6c3da3.715192"]]},{"id":"ba2328b.9ebacd8","type":"ui_text","z":"d9318ffb.7e096","group":"aa3614f9.42bc18","order":1,"width":0,"height":0,"name":"Brand","label":"Vaccine: ","format":"{{msg.payload[1]}}","layout":"row-center","x":970,"y":560,"wires":[]},{"id":"7f0c090b.797898","type":"twilio out","z":"d9318ffb.7e096","twilio":"","twilioType":"sms","url":"","number":"+91","name":"Message","x":1400,"y":440,"wires":[]},{"id":"78de1e19.67618","type":"ui_button","z":"d9318ffb.7e096","name":"","group":"c6449906.9b7d98","order":4,"width":"12","height":"1","passthru":false,"label":"Message me the link.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1020,"y":440,"wires":[["f185f3ec.be482"]]},{"id":"f185f3ec.be482","type":"function","z":"d9318ffb.7e096","name":"","func":"var result=\"Please visit https://www.cowin.gov.in/home or register through Arogya Setu App. \"\nmsg.payload=result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":440,"wires":[["d6d676bf.44e938"]]},{"id":"d6d676bf.44e938","type":"debug","z":"d9318ffb.7e096","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":400,"wires":[]},{"id":"bba3933a.24685","type":"ui_text","z":"d9318ffb.7e096","group":"aa3614f9.42bc18","order":1,"width":0,"height":0,"name":"Age","label":"Age","format":"{{msg.payload[2]}}","layout":"row-center","x":970,"y":520,"wires":[]},{"id":"9ea83fe8.1d31a","type":"ui_text","z":"d9318ffb.7e096","group":"aa3614f9.42bc18","order":1,"width":0,"height":0,"name":"Fee","label":"Fee:","format":"{{msg.payload[3]}}","layout":"row-center","x":970,"y":640,"wires":[]},{"id":"e10ecf88.29d51","type":"ui_text","z":"d9318ffb.7e096","group":"aa3614f9.42bc18","order":1,"width":0,"height":0,"name":"Address","label":"Address:","format":"{{msg.payload[4]}}","layout":"row-center","x":980,"y":680,"wires":[]},{"id":"57772a52.4c5474","type":"http request","z":"d9318ffb.7e096","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.covid19india.org/v4/min/data.min.json","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":720,"wires":[["7b0b62e7.b78cbc"]]},{"id":"6ecc73b1.fcce0c","type":"inject","z":"d9318ffb.7e096","name":"Start","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":150,"y":720,"wires":[["57772a52.4c5474"]]},{"id":"81aa73.755cf59","type":"ui_table","z":"d9318ffb.7e096","group":"7e571a24.ccec74","name":"COVID Data","order":4,"width":"8","height":"10","columns":[{"field":"name","title":"State","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"confirmed","title":"Confirmed","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"recovered","title":"Recovered","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":990,"y":720,"wires":[]},{"id":"81380cd.b4c8cf","type":"function","z":"d9318ffb.7e096","name":"Build Table","func":"var TableArray = [];\nvar ar=\n[\n    \n        \"Andaman and Nicobar Islands\"\n    ,\n    \n        \"Andhra Pradesh\"\n    ,\n    \n        \"Arunachal Pradesh\"\n    ,\n    \n        \"Assam\"\n    ,\n    \n        \"Bihar\"\n    ,\n    \n        \"Chandigarh\"\n    ,\n    \n        \"Chhattisgarh\"\n    ,\n    \n        \"Delhi\"\n    ,\n    \n        \"Dadra and Nagar Haveli\"\n    ,\n    \n    \n        \"Goa\" \n    ,\n    \n        \"Gujarat\"\n    ,\n    \n        \"Himachal Pradesh\"\n    ,\n    \n        \"Haryana\"\n    ,\n    \n        \"Jharkhand\"\n    ,\n    \n        \"Jammu and Kashmir\"\n    ,\n    \n        \"Karnataka\"\n    ,\n    \n        \"Kerala\"\n    ,\n    \n        \"Ladakh\"\n    ,\n    \n        \"Lakshadweep\"\n    ,\n    \n        \"Maharashtra\"\n    ,\n    \n        \"Meghalaya\"\n    ,\n    \n        \"Manipur\"\n    ,\n    \n        \"Madhya Pradesh\"\n    ,\n    \n        \"Mizoram\"\n    ,\n    \n        \"Nagaland\"\n    ,\n    \n        \"Odisha\"\n    ,\n    \n        \"Punjab\"\n    ,\n    \n        \"Puducherry\"\n    ,\n    \n        \"Rajasthan\"\n    ,\n    \n        \"Sikkim\"\n    ,\n    \n        \"Telangana\"\n    ,\n    \n        \"Tamil Nadu\"\n    ,\n    \n        \"Tripura\"\n    ,\n    \n        \"Total(India)\"\n    ,\n    \n        \"Uttar Pradesh\"\n    ,\n    \n        \"Uttarakhand\"\n    ,\n    \n        \"West Bengal\"\n    \n]\nfor( i=0; i < 37; i++ ) {\n      var TableEntry = {};\n      TableEntry.name = ar[i] ;\n      TableEntry.confirmed = msg.payload[i].confirmed ;\n      TableEntry.recovered = msg.payload[i].recovered ;\n      TableArray.push( TableEntry );\n}\n\nmsg.payload = TableArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":720,"wires":[["81aa73.755cf59"]]},{"id":"7b0b62e7.b78cbc","type":"function","z":"d9318ffb.7e096","name":"","func":"var i;\nvar q={};\nvar s={};\nvar x=[];\nvar z=[];\nvar b;\nfor (i in msg.payload){\n    var p=msg.payload[i].total;\n    b = z.push(p);\n    \n}\n\n\n\nvar result=[];\nvar obj1={};\nfor (i = 0; i < z.length; i++) {\n   obj1={[z[i]] : x[i]}\n   b=result.push(obj1)\n   \n}\nmsg.payload=z;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":720,"wires":[["81380cd.b4c8cf","e6e753b8.87607"]]},{"id":"b81dbb96.52a298","type":"ui_table","z":"d9318ffb.7e096","group":"aa3614f9.42bc18","name":"Slots","order":4,"width":"8","height":"3","columns":[{"field":"confirmed","title":"Slots","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1150,"y":480,"wires":[]},{"id":"82cdd684.340ec8","type":"function","z":"d9318ffb.7e096","name":"Build Table","func":"msg.payload=msg.payload[5];\nvar TableArray = [];\nfor( i=0; i < msg.payload.length; i++ ) {\n      var TableEntry = {};\n      TableEntry.confirmed = msg.payload[i] ;\n      TableArray.push( TableEntry );\n}\n\nmsg.payload = TableArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":480,"wires":[["b81dbb96.52a298"]]},{"id":"e6e753b8.87607","type":"function","z":"d9318ffb.7e096","name":"Build Table","func":"var TableArray = [];\n\nvar TableEntry = {};\nTableEntry.confirmed = msg.payload[33].confirmed ;\nTableEntry.recovered = msg.payload[33].recovered ;\nTableEntry.vaccinated = msg.payload[33].vaccinated ;\nTableArray.push( TableEntry );\n\n\nmsg.payload = TableArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":800,"wires":[["ea2fd51c.209438"]]},{"id":"ea2fd51c.209438","type":"ui_table","z":"d9318ffb.7e096","group":"c6449906.9b7d98","name":"India Total","order":3,"width":"12","height":"2","columns":[{"field":"vaccinated","title":"Vaccinated","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"confirmed","title":"Confirmed","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"recovered","title":"Recovered","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":980,"y":800,"wires":[]},{"id":"828a451d.030178","type":"ui_text","z":"d9318ffb.7e096","group":"c6449906.9b7d98","order":2,"width":"12","height":"1","name":"India","label":"","format":"India Statistics: ","layout":"row-center","x":970,"y":760,"wires":[]},{"id":"aa3614f9.42bc18","type":"ui_group","z":"","name":"Search Dropdowns","tab":"bcdbc416.76ea08","order":1,"disp":true,"width":"8","collapse":false},{"id":"c6449906.9b7d98","type":"ui_group","z":"","name":"Vaccine Availability:","tab":"bcdbc416.76ea08","order":2,"disp":true,"width":"12","collapse":false},{"id":"7e571a24.ccec74","type":"ui_group","z":"","name":"Country Reports","tab":"bcdbc416.76ea08","order":3,"disp":true,"width":"8","collapse":false},{"id":"bcdbc416.76ea08","type":"ui_tab","z":"","name":"COVID Vaccine Tracker","icon":"dashboard","order":4,"disabled":false,"hidden":false}]